body {
  width: auto;
  background-image: url("wood.jpg");
}

#input {
  width: 47%;
  height: 50px;
  border: 1px solid #666;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  float: left;
  margin: 1%;
  padding: 5px;
}

form {
  width: 60%;
  float: left;
}
.form-group {
  float:left;
  width: 100%;
}
textarea {
  width: 100%;
}
.button-group {
  width: 20%;
  float:left;
  padding: 5px;
}

.btn {
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border: 1px solid #666;
}

#instructions {
  width: 47%;
  min-height: 60px;
  border: 1px solid #666;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  float: left;
  margin: 1%;
}
.list {
  width: 95%;
  margin: 1%;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  float: left;
}

.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list ul li {
  padding: 5px;
  margin: 2px;
  width: 95%;
  min-height: 20px;
  line-height: 20px;
  border: 1px solid #666;
  border-radius: 5px;
  display: block;
}
.current {
  background: rgba(244, 219, 73, 0.8);
}
.done {
  background: #f66f66;
}
.progress {
  color: green;
  background: rgba(66, 244, 101, 0.6)
}

